@model IEnumerable<UniversityApp.Models.Enrollment>
@{
    ViewData["Title"] = "GetStudentsByProfessorsCourse";
}

<h2>Students on this course</h2>



<form asp-controller="Enrollments" asp-action="GetStudentsByProfessorsCourse">
   Choose Year: <input type="text" name="year" />
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Index
            </th>
            <th>
                Year
            </th>
            <th>
                Total Points
            </th>
            <th>
                Seminar Url
            </th>
            <th>
                Project Url
            </th>

            <th>
                Grade
            </th>
            <th>
                Enrollment Date
            </th>
            
            <th>Finish Date</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        

       @foreach (var student in Model)
        {
        <tr>

            @if (student.Student.FullName != null)
            {
                <td>
                    @student.Student.FullName
                </td>
            }

            <td>
                @student.Student.StudentId
            </td>
            <td>
                @student.Year
            </td>
            <td>
                @student.ExamPoints + @student.ProjectPoints + @student.SeminarPoints + @student.AdditionalPoint

            </td>
            <td>
                @student.SeminarUrl
            </td>
            <td>
                @student.ProjectUrl
            </td>
            <td>
                @student.Grade
            </td>
            <td>
                @student.Student.EnrollmentDate
            </td>
            <td>
                @if(student.FinishDate != null)
                {
                    @student.FinishDate
                }
                else
                {
                    <p>Enrolled</p>
                }

            </td>
            <td>
                @if (student.FinishDate == null)
                {
                    <a  asp-controller="Enrollments" asp-action="ProfessorStudentChange" asp-route-id="@student.Id">Make Changes</a>
                }
                else
                {
                    <p>Finished</p>
                }

            </td>
        

        </tr>
        }
        
    </tbody>
</table>

