@model UniversityApp.ViewModels.ProfessorCoursesView
@{
    ViewData["Title"] = "GetProfessorById";
}

    <h2>Professor  @Html.DisplayFor(modelItem => modelItem.Professors[0].FullName)</h2>


<table>
    <thead>
        <tr>
            <th>
                Courses
               
            </th>
            <th>
                Students
               
            </th>
        </tr>

    </thead>
    <tbody>


        <tr>
            <td>
                @if (Model.FirstProfCourses != null)
                {
                    @foreach (var course in Model.FirstProfCourses)
                    {
                        @if (course.Id != 0)
                        {
                            <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id"> @course.Title</a>
                            <br />
                        }
                    }
                }


                @if (Model.SecondProfCourses != null)
                {
                    @foreach (var course in Model.SecondProfCourses)
                    {
                        @if (course.Id != 0)
                        {
                            <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id"> @course.Title </a>
                            <br />
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>
                @if(Model.Students != null)
                {
                    @foreach(var student in Model.Enrollments)
                    {
                        @student.Student.FullName
                    }
                }
            </td>

        </tr>



    </tbody>

</table>


