@*@model UniversityApp.ViewModels.ProfessorCoursesView*@
@model UniversityApp.Models.Professor
@{
    ViewData["Title"] = "GetProfessorById";
}

    <h2>Professor  @Html.DisplayFor(modelItem => modelItem.FullName)</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Courses
               
            </th>
            <th>
                Students
               
            </th>
        </tr>

    </thead>
    <tbody>


        @if (Model.FirstProfCourses != null)
        {
            @foreach (var course in Model.FirstProfCourses)

            {
                <tr>
                    <td>
                        @if (course.Id != 0)
                        {

                            string professor = @Html.DisplayFor(modelItem => modelItem.FirstName).ToString();

                            @Html.ActionLink(professor, "GetProfessorById", new { courseId = course.Id });

                            @course.Id

                            <a asp-controller="Enrollments" asp-action="GetStudentsByProfessorsCourse" asp-route-id="@course.Id"> @course.Title</a>
                            <br />
                        }

                    </td>
                    <td>
                       @foreach(var student in course.Students)
                       {
                           @student.Student.FullName
                           <br />
                       }
                    </td>
                </tr>
            }

        }

        @if (Model.SecondProfCourses != null)
        {
            @foreach (var course in Model.SecondProfCourses)

            {
                <tr>
                    <td>
                        @if (course.Id != 0)
                        {

                            string professor = @Html.DisplayFor(modelItem => modelItem.FirstName).ToString();

                            @Html.ActionLink(professor, "GetProfessorById", new { courseId = course.Id });

                            @course.Id

                            <a asp-controller="Enrollments" asp-action="GetStudentsByProfessorsCourse" asp-route-id="@course.Id"> @course.Title</a>
                            <br />
                        }

                    </td>
                    <td>
                        @foreach (var student in course.Students)
                        {
                            @student.Student.FullName
                            <br />
                        }
                    </td>
                </tr>
            }
        }



    </tbody>

</table>


