@*@model IEnumerable<UniversityApp.Models.Professor>*@
@model UniversityApp.ViewModels.ProfessorFilterViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Professors List</h1>

<form asp-controller="Professors" asp-action="Index" method="get">
    <p>
        First Name: <input type="text" asp-for="FirstNameSearch" />
        Last Name: <input type="text" asp-for="LastNameSearch" />
        <br />
        Professors Degree:
        <select asp-for="ProfessorDegree" asp-items="Model.Degrees">
            <option value="">All</option>
        </select>
        Professors Academic Rank:
        <select asp-for="ProfessorAcademicRank" asp-items="Model.AcademicRanks">
            <option value="">All</option>
        </select>
       
        <input type="submit" value="Filter" />
    </p>
</form>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Professors[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Professors[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Professors[0].Degree)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Professors[0].AcademicRank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Professors[0].OfficeNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Professors[0].HireDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Professors[0].FirstProfCourses)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Professors[0].SecondProfCourses)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Professors)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcademicRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @if (item.FirstProfCourses != null)
                    {
                        @foreach (var course in item.FirstProfCourses)
                        {
                            @if (course.Id != 0)
                            {
                                <a asp-controller="FirstProfCourses" asp-action="Details" asp-route-id="@course.Id"> @course.Title</a> <br />
                            }
                        }
                    }

                </td>
                <td>
                    @if (item.SecondProfCourses != null)
                    {
                        @foreach (var course in item.SecondProfCourses)
                        {
                            @if (course.Id != 0)
                            {
                                <a asp-controller="SecondProfCurses" asp-action="Details" asp-route-id="@course.Id"> @course.Title </a> <br />
                            }
                        }
                    }

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
